<!DOCTYPE html>

<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/customstyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body class="loginbg" >
    
    <div ">
        <img class="col  img-fluid col col-lg-3 col-md-3 d-xxl-block d-xl-block d-md-block d-none " src="/img/jums.png" alt="Jahrom University Of Medicine Services" />
        <h1 class="col">سامانه ثبت اطلاعات مادران پرخطر</h1>
    </div>
    <hr />
    
    <div class="container offset-xxl-3 offset-xl-3 offset-lg-3 ">
        <div class="row">

        <form class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="mb-3" >
                <label for="exampleInputEmail1" class="form-label">نام کاربری</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text d-xl-block d-lg-block text-muted" >لطفا نام کاربری خود را در اختیار اشخاص دیگر قرار ندهید.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">کلمه عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">ورود</button>
        </form>
        <img class="img-fluid col col-lg-3 col-md-3 d-xxl-block d-xl-block d-md-block d-none " src="/img/24613936.png" alt="High Risk Pregnancy" />
        </div>
    </div>
</body>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/fontawesome.min.js"></script>
</html>