<!DOCTYPE html
          @{ Layout = "~/Views/Shared/_Layout.cshtml"; }
          @model LoginViewModel
<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/customstyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <form class="bg-light col-4 offset-4 rounded ">
        <div class="h4 text-center">
            ورود به سیستم
        </div>
        <div class="input-group p-2 ">
            <span class="fa-duotone fa-user p-1 m-auto"></span>
            <input type="text" class="form-control m-1" placeholder="نام کاربری:کدملی"  />
        </div>
        
        <div class="input-group p-2 ">
            <span class="fa-duotone fa-key p-1 m-auto"></span>
            <input type="password" class="form-control m-1" placeholder="رمز ورود"  />
        </div>
        <div class="d-flex justify-content-around mx-auto px-3 pb-2">
            <button class="btn btn-outline-primary fa-duotone fa-right-to-bracket col align-self-center" type="submit" >

            </button>
        </div>
    </form>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
</body>
</html>