<!DOCTYPE html>
@model LoginViewModel
<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/customstyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body >

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 Login">
        <form method="post">
            <img src="../img/jums.png" style="width: 80px" />
            <h3>سامانه ثبت مادران </h3>
            <hr />
            <h5>ورود به سامانه</h5>
            <input type="text" name="u" placeholder="نام کاربری" required="required" />
            <input type="password" name="p" placeholder="کلمه عبور" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">ورود</button>
        </form>

    </div>
</body>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/fontawesome.min.js"></script>
</html>