@font-face {
    font-family: 'IRANSansWeb';
    src: url(/fonts/IRANSansWeb.eot);
    src: url('/fonts/IRANSansWeb.eot') format('embedded-opentype'),url('/fonts/IRANSansWeb.woff') format('woff'),url('/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSansWeb' !important;
    font-weight: 400;
}

.loginbg {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
