<!DOCTYPE html>

<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/customstyle.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div >
        @RenderBody()
    </div>
</body>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/fontawesome.min.js"></script>
</html>
