<!DOCTYPE html>

<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/customstyle.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="row flex-row">
        <div class="col-2 ">
            <img src="../img/jums.png" alt="دانشگاه علوم پزشکی جهرم-Jahrom university of medicine" style="width:80px;margin:10px;" />
        </div>
        <div class="col-8 align-self-center">
            <span class="display-5 text-lg-start align-content-center">سامانه ثبت اطلاعات مادران پر خطر</span>
        </div>
        <div class="col-2">

        </div>
    </div>
    <nav class="navbar navbar-dark navbar-expand-sm navbar-light mb-4 ">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapse" >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ثبت اطلاعات مادر باردار</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">پرونده بارداری</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">گزارشات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">مدیریت سیستم</a>
                    </li>

                </ul>
                <form class="for my-2 my-lg-0 align-content-end">
                    <input class="form-control mr-sm-2" placeholder="جستجوی کد ملی مادر" />
                    <button class="btn btn-outline-primary my-2 my-sm-0 fa-duotone fa-search" ></button>
                </form>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/fontawesome.min.js"></script>
</body>
</html>
